
.welcome{
  font-family:"Oswald", sans-serif;
  color:black;
  border-bottom: solid;
  border-top:solid;
  border-color:black;
  border-width:5px;
  padding-top:10px;
  padding-bottom:10px;
  width:%;
  text-align:center;
  font-size:45px;
  
  }

.paragraph-for-khan-academy{
  font-family:"Oswald", sans-serif;
  font-size:25px;
  text-align:center;
  padding-top:20px;
  border-style:solid;
  border-width:5px;
  padding-bottom:20px;
  background-color:darkgray;
  
}

.khan-academy-logo{
  width:50%;
  padding-left:65px
  
  
}
